@use '../../../styles/colors' as *;
.video {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: $Color3-2;
    padding: 1rem 1rem 4rem;
    gap: 2rem;
    justify-content: center;
    &__player {
        width: 80%;
        margin: auto;
        height: auto;
        aspect-ratio: 16/9;
    }
}