@use '../../../styles/colors' as *;
.video {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    color: $Color3-2;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
    &__player {
        width: 80%;
        margin: auto;
        height: auto;
        aspect-ratio: 16/9;
    }
    border-bottom: 2px solid $Color3-2;
}