@use '../../styles/colors' as *;

.button {
    width: fit-content;
    color: $TextColor;
    text-align: center;
    font-family: "Anton";
    text-transform: uppercase;
    letter-spacing: .125rem;
    border: none;
    background-color: inherit;
    margin: 1rem;
}
.button:hover {
    scale: 1.2;
    transition: 1s;
}