@use '../../../styles/colors' as *;
@use '../../../styles/screens' as *;


.cartItem {
    border-bottom: 2px solid $Color2-1;
    &__delete {
        background-color: transparent;
        border: none;
        width: 2.5rem;
        bottom: 0.5rem;
        right: 0.5rem;
    }
    &__deleteIcon {
        width: 1.5rem;
    }
    &__image {
        margin: auto;
        width: 6rem;
    }
    &__color {
        width: 1rem;
        height: 1rem;
        margin: 1rem;
    }
    &__name, &__price, &__size {
        width: fit-content;
    }
}