@use '../../../styles/colors' as *;
@use '../../../styles/screens' as *;

.player {
    background-color: $Color3-1;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
    }
    &__video {
        margin: auto;
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        @include tablet {
            width: 60%;
            margin: 0;
        }
        @include desktop {
            width: 60%;
            margin: 0;
        }
    }
    &__title {
        margin: 2rem;
        align-self: center;
        color: $Color3-2;
        font-family: 'fester';
        font-weight: 600;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        @include tablet {
            text-align: left;
            margin: 1rem;
            font-size: 1.25rem;
        }
        @include desktop {
            font-size: 1.5rem;
            margin: 2rem;

        }
    }
    &__text {
        color: $Color3-2;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @include tablet {
            width: 40%;
            padding: 1rem;
        }
        @include desktop {
            width: 40%;
            padding: 1rem;
        }
    }
    &__link {
        position: absolute;
        font-family: 'fester';
        font-weight: 600;
        font-size: 0.8rem;
        color: $Color3-2;
        right: 1rem;
        bottom: 1rem;
    }
    &__tv {
        width: 50%;
        margin: 0 2rem 2rem;
        @include tablet {
            width: 40%;
            margin: 0 1rem;
        }
    }
}