@use '../../../styles/colors' as *;
.player {
    background-color: $Color3-1;
    color: $Color3-2;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &__video {
        width: 60%;
    }
    &__title {
        font-family: 'fester';
        font-weight: 600;
        font-size: 1.5rem;
    }
    &__text {
        position: relative;
        padding: 2rem;
        width: 40%;
        display: flex;
        flex-direction: column;
    }
    &__link {
        position: absolute;
        font-family: 'fester';
        font-weight: 600;
        font-size: 0.8rem;
        color: $Color3-2;
        margin: 1rem;
        right: 0;
        bottom: 0;
    }
}