@use '../../../styles/colors' as *;

.player {
    background-color: $Color3-1;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    &__video {
        width: 50%;
        height: auto;
    }
    &__title {
        color: $Color3-2;
        font-family: 'fester';
        font-weight: 600;
        font-size: 1.5rem;
    }
    &__text {
        color: $Color3-2;
        padding: 2rem;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    &__link {
        position: absolute;
        font-family: 'fester';
        font-weight: 600;
        font-size: 0.8rem;
        color: $Color3-2;
        right: 2rem;
        bottom: 2rem;
    }
    &__tv {
        width: 50%;
        margin: 0 4rem;
    }
}