@use '../../../styles/colors' as *;

.nav {
    z-index: 1;
    width: 'fit-content';
    background-color: $Color1-2;
    color: $Color2-2;
    padding: 1rem 0;
    position: absolute;
    top:0; 
    left: 0;
    height: 100%;
    font-family:'Carrois Gothic';
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    &__link {
        border: 2px solid $Color2-1;
        display: flex;
        justify-content: center;
    }
    &__span {
        opacity: 0;
        min-width: max-content;
        padding: 0 2rem;
    }
    &__link:hover {
        background-color: $Color2-2;
        color: $Color2-1;
    }
    &__close {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        color: $Color2-2;
    }
}