@use '../../../styles/colors' as *;

.nav {
    width: 30%;
    background-color: $Color1-2;
    color: $Color2-2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    font-family:'Carrois Gothic';
    justify-content: center;
    overflow: hidden;
    &__link {
        min-width: max-content;
    }
}