$Color1-1: #E9E3E0;
$Color1-2: #242F40;

$Color2-1: #242F40;
$Color2-2: #C6D858;

$Color3-1: #522C53;
$Color3-2: #F97C42;

$Color4-1: #CDF4F0;
$Color4-2: #F2C14A;

$Color5-1: #DDE7D9;
$Color5-2: #522C53;



