@use '../../styles/colors' as *;
.home {
    
    background-color: $MainBackground;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $TextColor;
}
.example {
    width: 60%;
}
.nav {
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.about { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    &__header {
        text-align: center;
        margin: 0 2rem;
        width: 100%;
    }
    &__text {
        font-family: sans-serif;
        padding: 2rem;
        text-align: center;
        width: 70%;
        margin: auto;
    }
}
.page-break {
    width: 80%;
}
.store {
    margin: 2rem;
    &__header {
        text-align: center;
        margin: 2rem 2rem 3rem;
    };
    &__container {
        display: flex;
        gap: 4rem;
    }
}