.videos {
    background-color: #2d2d2a;
    &__container {
        margin: 2rem;
        background-color: #2d2d2a;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1rem;
    }
    &__video {
        background-color: #2d2d2a;
    }
}