@use '../../../styles/colors' as *;
@use '../../../styles/screens' as *; 

.header {
    background-color: $Color5-1;
    color: $Color1-2;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 20vh;
    &__logo {
        height: 12vh;
        margin: auto;
    }
    &__button {
        font-family: 'fester';
        font-weight: 600;
        font-size: 2rem;
        color: $Color2-1;
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
    &__puppet {
        position: absolute;
        top: 0;
        left: 0;
        height: 70%;
        rotate: 90deg;
    }
    
}
