@use '../../../styles/colors' as *;

.header {
    background-color: $Color5-1;
    color: $Color1-2;
    display: flex;
    height: 20vh;
    &__right {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__logo {
        height: 70%;
        rotate: -5deg;
    }
    &__button {
        font-family: 'fester';
        font-weight: 600;
        font-size: 2rem;
        color: $Color2-1;
        position: absolute;
        top: 2rem;
        left: 2rem;
    }
}
