@use '../../../styles/colors' as *;
@use '../../../styles/screens' as *;

.shop {
    background-color: $Color5-2;
    padding: 2rem;
    color: $Color2-2;
    position: relative;
    text-align: center;
    &__link {
        position: absolute;
        bottom: 1rem;  
        right: 1rem;
        font-family: 'fester';
        font-weight: 600;
        font-size: 1.2rem;
        color: $Color2-2;
    }
    &__merch {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 2rem;
        @include tablet {
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}