@use '../../styles/colors' as *;
@use '../../styles/screens' as *;

.checkout {
    background-color: $Color2-1;
    color: $Color1-1;
    min-height: 80vh;
    padding: 1rem;
    &__title {
        text-align: center;
    }
}