@use '../../styles/colors' as *;
@use '../../styles/screens' as *;

.audioPage {
    background-color: $Color2-1;
    color: $Color3-2;
    display: flex;
    flex-direction: column;
    &__play {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 1rem;
    }
    &__playing-title {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        @include tablet {
            font-size: 2rem;
        }
    }
    &__description {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 2rem;
        @include tablet {
            width: 80%;
            font-size: 1.2rem;
            margin: 2rem 0;
        }
        @include desktop {
            width: 40%;
        }
    }
    &__more {
        background-color: $Color4-1;
    }
    &__list {
        display: flex;
        overflow-x: hidden;
    }
    &__item {
        list-style: none;

    }
};