@use '../../styles/colors' as *;
@use '../../styles/screens' as *;

.audioPage {
    background-color: $Color2-1;
    color: $Color3-2;
    display: flex;
    flex-direction: column;
    &__play {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 1rem;
    }
    &__playing-title {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        @include tablet {
            font-size: 2rem;
        }
    }
    &__description {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 2rem;
        @include tablet {
            width: 80%;
            font-size: 1.2rem;
            margin: 2rem 0;
        }
        @include desktop {
            width: 40%;
        }
    }
    &__more {
        background-color: $Color4-1;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 2rem;
        padding: 2rem;
    }
    &__item {
        position: relative;
        list-style: none;
        background-color: $Color5-1;
        border-radius: 10px;
        padding: 1rem;
        border: 4px solid $Color2-1;
        width: 70%;
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            width: 70%;
        }
        @include  desktop {
            width: 45%;
        }
    }
    &__item:hover {
        scale: 1.1;
        transition: 0.5s;
    }
    &__image {
        width: 80%;
        margin: auto;
        @include tablet {
            width: 35%;
        }
    }
    &__item-title {
        width: 90%;
        font-size: 0.8rem;
        @include tablet {
            font-size: 1.2rem;
        }
    }
    &__date {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
    }
};