@use '../../styles/colors' as *;
.header {
    position: fixed;
    padding: 4rem;
    background-color: $LightBackground;
    z-index: 100;
    top:0;
    left:0;
    border-radius: 0px 0px 5px 0px;
    &__nav {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        color: $TextColor;
    }
    &__close {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
    }
}