@use '../../styles/colors' as *;


.video {
    position: relative;
    color: $TextColor;
    background-color: $MainBackground;
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    border-radius: 5px;
    background: hsla(213, 60%, 49%, 1);
    background: linear-gradient(135deg, rgba(50, 117, 200, 0.335) 0%, hsla(210, 100%, 12%, 1) 100%);
    background: -moz-linear-gradient(135deg, rgba(50, 117, 200, 0.282) 0%, hsla(210, 100%, 12%, 1) 100%);
    background: -webkit-linear-gradient(135deg, rgba(50, 117, 200, 0.278) 0%, hsla(210, 100%, 12%, 1) 100%);
    &__player-div {
        display: flex;
        gap: 4rem;
    }
    &__player {
        width: 50%;
        height: auto;
        aspect-ratio: 16/9;
        overflow: hidden;
    }
    &__link-to-more {
        font-size: 0.5rem;
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }
}