@use '../../../styles/colors' as *;

.contact {
    background-color: $Color5-1;
    display: flex;
    justify-content: space-between;
    position: relative;
    &__logo {
        width: 15%;
        margin: 2rem auto;
        rotate: -5deg;
    }
    &__info { 
        background-color: $Color5-1;
        color: $Color5-2;
        width: 70%;
    }
    &__header {
        width: fit-content;
        margin: 1rem;
        background-color: $Color5-1;
    }
    &__logo-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__link-logo {
        width: auto;
        height: 2rem;
    }
    &__link {
        margin: 1rem 3rem;
    }
}
