@use './styles/colors' as *;
@use './styles/screens' as *;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'fester';
    margin: 1rem;
}
p {
    font-family: 'Carrois Gothic';
    margin: 0 1rem;
    @include tablet {
        margin: 1rem;
    }
    
}
audio {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
audio {
width: 100%;
}
audio::-webkit-media-controls-enclosure {
    max-width: none;
    background-color: inherit;
    display: flex;
    flex-direction: column;
}