@use '../../styles/colors' as *;


.container {
    color: $MainBackground;
    background-color: $MainBackground;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    width: 90%;
    padding: 2rem;
    border-radius: 5px;
    background: #ffd817f1;
    &__header {
        width: 100%;
    };
    &__item {
        z-index: 0;
        position: relative;
        display: flex;
        align-items: center;
        gap: 1rem;
        width: 45%;
        border: 2px solid $MainBackground;
        background-color: $HighlightColor;
        border-radius: 5px;
        padding: 1rem;
        -webkit-box-shadow: 7px 4px 5px  rgba(0,31,63,0.89); 
        box-shadow: 7px 5px 5px rgba(0,31,63,0.89);
    }
    &__item:hover {
        scale: 1.05;
        transition: 1s;
    }
    &__item-image{
        width: 3rem;
        color: $MainBackground;
    }
    &__item-head {
        font-size: 0.7rem;
        background-color: $HighlightColor;
    }
    &__pup {
        position: absolute;
        width: 2.3rem;
        top: -0.3rem;
        left: 70%;
        transition: all 1s;
        z-index: -1;
    }
    &__item:hover &__pup {
        transform: rotate(18deg);
        top: -2.3rem;
    }
}