@use '../../styles/colors' as*;

.theatre {
    background-color: $Color1-2;
    &__item {
        padding: 1rem;
        background-color: $Color1-2;
        display: flex;
        color: $Color3-2;
        border-color: black;
        border-bottom: 3px solid $Color3-2;
    }
    &__item:hover {
        scale: 1.01;
        transition: 1s;
        border-top: 1px solid black;
        box-shadow: 5px 5px 5px black;
    }
    &__logo {
        width: 10vw;
        height: 10vw;
        background-color: $Color1-1;
        border-radius: 50%;
    }
}