@use '../../styles/colors' as*;
@use '../../styles/screens' as*;

.theatre {
    background-color: $Color1-2;
    &__item {
        @include tablet {
            padding: 1rem;
        }
        background-color: $Color1-2;
        display: flex;
        color: $Color3-2;
        border-color: black;
        border-bottom: 3px solid $Color3-2;
    }
    &__item:hover {
        scale: 1.01;
        transition: 1s;
        border-top: 1px solid black;
        box-shadow: 5px 5px 5px black;
    }
    &__logo {
        width: 7rem;
        height: 7rem;
        margin: 1.5rem;
        background-color: $Color1-1;
        border-radius: 50%;
    }
}
.random {
    &__button {
        color: $Color3-2;
        font-weight: 600;
        font-family: 'fester';
        margin: 1rem;
    }
}