@use '../../styles/colors' as*;
@use '../../styles/screens' as*;

.theatre {
    background-color: $Color1-2;
    padding-bottom: 1rem;
    &__video-div {
        position: relative;
    }
    &__track-button2 {
        position: absolute;
        font-family: 'fester';
        font-weight: 600;
        font-size: 1rem;
        right: 1rem;
        bottom: 1rem;
        color: $Color3-2;
    }
    &__track-button {
        position: absolute;
        font-family: 'fester';
        font-weight: 600;
        font-size: 1rem;
        color: $Color3-2;
        left: 1rem;
        bottom: 1rem;
    }
    &__library {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__item {
        background-color: $Color4-1;
        border-radius: 10px;
        border: 4px solid black;
        position: relative;
        color: $Color3-2;
        display: flex;
        flex-direction: column;
        width: 70%;
        align-items: center;
        margin: 1rem auto;
        padding: 0.5rem;
        @include tablet {
            padding: 1rem;
            flex-direction: row;
            align-items: flex-start;
        }
        @include desktop {
            width: 45%;
            margin: 1rem;

        }
    }
    &__item:hover {
        scale: 1.1;
        transition: 0.5s;
    }
    &__item-name {
        font-size: 0.8rem;
        @include tablet {
            font-size: 1rem;
        }
        @include desktop {
            font-size: 1.2rem;
        }
    }
    &__date {
        position: relative;
        font-size: 0.8rem;
        @include tablet {
            position: absolute;
            right: 1rem;
            bottom: 1rem;
        }
    }
    &__logo {
        align-self: flex-start;
        width: 60%;
        margin: auto;
        @include tablet {
            margin: 0;
            width: 30%;
        }
    }
}