@use '../../../styles/colors' as *;

.audio {
    background-color: $Color4-1;
    display: flex;
    position: relative;
    padding: 2rem;
    gap: 4rem;
    &__player {
        background: rgba(242, 193, 74, 0.15);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 2px solid rgba(242, 193, 74, 0.66);
        border-radius: 1.5rem;
        min-width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 2%;
        gap: 1rem;
        box-shadow: 5px 5px 5px;
    }
    &__link {
        position: absolute;
        margin: 1rem;
        bottom: 0;
        right: 0;
        font-family: 'fester';
        font-weight: 600;
        font-size: 0.8rem;
        color: $Color3-2;
    }
    &__header {
        color:$Color3-2;
    }
    &__description {
        color: $Color3-2;
        margin: 1rem;
    }
}