@use '../../../styles/colors' as *;
@use '../../../styles/screens' as *;

.audio {
    background-color: $Color4-1;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 0rem 0rem 2rem;
    @include tablet {
        padding: 2rem;
        gap: 2rem;
        flex-direction: column;
    }
    @include desktop {
        padding: 2rem;
        gap: 2rem;
        flex-direction: row;
        align-items: flex-start;
    }
    &__text {
        padding: 1rem;
        width: 100%;
        @include tablet {
            
        }
    }
    &__text > p {
        color: $Color3-2;
        margin: 1rem;
    }
    &__link {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        font-family: 'fester';
        font-weight: 600;
        font-size: 0.8rem;
        color: $Color3-2;
    }
    &__header {
        color: $Color3-2;
    }
}
