@use '../../../styles/colors' as *;

.audio {
    height: 40vh;
    background-color: $Color4-1;
    display: flex;
    position: relative;
    padding: 2rem;
    gap: 4rem;
    &__link {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        font-family: 'fester';
        font-weight: 600;
        font-size: 0.8rem;
        color: $Color3-2;
    }
    &__header {
        color:$Color3-2;
    }
    &__description {
        color: $Color3-2;
        margin: 1rem;
    }
}